{{#if user}}
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-8 text-white text-center">
            <h2>Bienvenido {{user}}</h2>
        </div>
</div>
{{/if}}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <form id="restore-form" class="p-5 rounded shadow bg-white">
                <h2 class="text-center mb-5">Reestablecimiento de contraseña:</h2>
                <div class="form-group mb-4">
                    <label for="password">Contraseña actual:</label>
                    <input type="password" id="current-password" name="password" class="form-control" required />
                </div>
                <div class="form-group mb-4">
                    <label for="password">Nueva contraseña:</label>
                    <input type="password" id="new-password" name="password" class="form-control" required />
                </div>
                <button id="restore" type="submit" class="btn btn-primary btn-block">Reestablecer</button>
            </form>
        </div>
    </div>
</div>